body {
  background-color: #9ea09d;
}
.container {
  background-color: white;
}

section {
  padding: 5%;
}

hr {
  border: 2px solid grey;
  margin: 0%;
}

.pheader {
  margin: 0%;
}

.submainheadingred {
  background-color: darkred;
  padding: 2%;
  color: white;
  width: 30%;
  transform: skew(7deg);
}

.subheadingred {
  background-color: darkred;
  padding: 2%;
  color: white;
  width: 27%;
  position: absolute;
  top: -1%;
  left: 4%;
  z-index: 1;
  transform: skew(7deg);
}

.fontsize {
  font-size: 0.9rem;
}

#image1 {
  background-color: #9ea09d;
  height: 400px;
  width: auto;
  position: relative;
}

#image2 {
  width: 100%;
  height: 180px;
  background-color: #9ea09d;
  margin-top: 3%;
  position: relative;
}

p {
  font-size: 0.9rem;
  text-align: justify;
}

#redhighlightbottom {
  font-size: x-large;
  color: darkred;
}

.pageno {
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
}

.bottomright {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end !important;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 6.23rem;
  }
}

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 6.23rem;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 5.2rem;
  }
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 3.86rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.86rem;
  }
}

@media screen and (max-width: 558px) {
  h1 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 475px) {
  h1 {
    font-size: 1.7rem;
  }
}
